.side_bar
  = render 'shared/side_bar'

.chat_side
  .chat
    .chat__group--name
      = @group.name
      %a.icon.edit
        =link_to "Edit", edit_group_path(@group),class: 'chat-main__header--group--edit'
    .chat__members-name
      Member：
      - @group.users.each do |user|
        %member= user.name
    .messages
      = render @messages
    .form
      = form_for [@group, @message], html: { class: 'form__message', id: 'message_content' } do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
